body {
    font-family: 'Unbounded', bold;
    line-height: 1.65;
    margin: 0;
    background-color: blanchedalmond;
  }
  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    display: inline-block;
  }
  .Name {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
  }
  h1 {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
  }
  header {
    display: flex;
    gap: 20rem;
    padding: 3rem 1rem;
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
  }