body {
    font-family: 'Unbounded', cursive;
    line-height: 1.65;
    margin: 0;
    background-color: blanchedalmond;
  }
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    display: inline-block;
  }
