body {
    font-family: 'Poppins', sans-serif;
}

.v1_3 {
    width: 430px;
    height: 3539px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v8_25 {
    width: 430px;
    height: 487px;
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 0px;
}

.v8_26 {
    width: 315px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 269px;
    left: 57px;
    font-weight: SemiBold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}

.v8_36 {
    width: 42px;
    height: 42px;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 194px;
  
}

.v8_39 {
    width: 466px;
    height: 336px;
    opacity: 1;
    position: absolute;
    top: 1341px;
    left: 18px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
  
}

.v8_37 {
    width: 308px;
    height: 308px;
    opacity: 1;
    position: absolute;
    top: 677px;
    left: 61px;
    overflow: hidden;
}

.v8_38 {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 990px;
    left: 115px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v8_41 {
    width: 70px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1708px;
    left: 36px;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v8_42 {
    width: 372px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1791px;
    left: 36px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v8_43 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1738px;
    left: 36px;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v41_56 {
    width: 91px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2661px;
    left: 36px;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v41_57 {
    width: 333px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2744px;
    left: 36px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v41_58 {
    width: 290px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2687px;
    left: 36px;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v8_27 {
    width: 430px;
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.v8_48 {
    width: 123px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 2283px;
    left: 36px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v8_49 {
    width: 65px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2291px;
    left: 65px;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v41_55 {
    width: 485px;
    height: 213px;
    opacity: 1;
    position: absolute;
    top: 2413px;
    left: 18px;
    overflow: hidden;
}

.v42_60 {
    width: 417px;
    height: 354px;
    opacity: 1;
    position: absolute;
    top: 2992px;
    left: 6px;
    overflow: hidden;
}

.v106_10 {
    width: 41px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1151px;
    left: 37px;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v106_11 {
    width: 123px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 1247px;
    left: 36px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v106_12 {
    width: 51px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1255px;
    left: 72px;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v106_13 {
    width: 182px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1073px;
    left: 36px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v106_14 {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 1184px;
    left: 36px;
    border-radius: 50%;
}

.v106_15 {
    width: 31px;
    height: 31px;
    background: rgba(183, 183, 183, 1);
    opacity: 1;
    position: absolute;
    top: 1184px;
    left: 159px;
    border-radius: 50%;
}

.v106_16 {
    width: 31px;
    height: 31px;
    background: rgba(167, 19, 9, 1);
    opacity: 1;
    position: absolute;
    top: 1184px;
    left: 77px;
    border-radius: 50%;
}

.v106_17 {
    width: 31px;
    height: 31px;
    background: rgba(110, 74, 5, 1);
    opacity: 1;
    position: absolute;
    top: 1184px;
    left: 118px;
    border-radius: 50%;
}

.v99_10 {
    width: 430px;
    height: 89px;
    background: rgba(5, 5, 3, 1);
    opacity: 1;
    position: absolute;
    top: 3464px;
    left: 0px;
    overflow: hidden;
}
@media screen and (min-width: 680px) {


}

@media screen and (min-width: 800px) {