body {
    font-family: 'Inter', sans-serif;
}

/*base style*/
p {
    font-size: 18px;
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 80vh;
}

.inner {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

header .inner {
    height: 100%;
}

nav {
    background-color: rgba(255, 255, 255, .4);
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: all .25s ease-out;
}

.open {
    max-height: 200px;
}




nav ul {
    margin-left: 0;
    padding-left: 0;
}

nav li {
    list-style: none;
}

nav a {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    background-color: rgba(255, 255, 255, .4);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem;
}

.menu-button {
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid transparent;
    padding: 1rem;
}

.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro {
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    padding: 11rem 1rem 1rem 1rem;
    position: absolute;
}

.freatured-work {
    padding: 20rem 1rem;
}

.freatured-work h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.freatured-work figure {
    margin-bottom: 2rem;
}

.freatured-work figcaption {
    font-size: 14px;
    margin-top: 1rem;
    text-transform: uppercase;
}

.studio {
    background-color: #fafafa;
    padding: 1rem;
}

.studio p {
    font-size: 15px;
    font-weight: 300;
    padding-right: 36px;
    padding-left: 45px;
    margin-left: 15px;
    margin-top: 40px;
    border-left: solid 3px;
    border-color: #F2F2F2;
    margin-bottom: 24px;
    text-align: left;
    word-spacing: 5px;
    line-height: 26px;
}

.studio h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

}

footer {
    font-size: 14px;
    font-weight: 600;
    padding: 1rem;
    text-transform: uppercase;
}


@media screen and (min-width: 680px) {
    .work-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .studio .inner {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

}

@media screen and (min-width: 800px) {
    .menu-button {
        display: none;
    }

    nav {
        display: block !important;
        max-height: 200px;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }


}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax>.jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}